<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Color Restorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div id="div_upload_form">
        <h1>Image Color Restorer</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="gray_image_file">Choose a Gray Image</label>
            <input id="gray_image_file" name="gray_image_file" type="file" accept="image/*">
            
            <button id="btn_get_image_file" type="button">Search Image</button>
            <label id="fileName">Nenhum arquivo selecionado</label>
            
            <button id="btn_upload_file" type="submit">Upload</button>
        </form>
    </div>

    <!-- Div para mostrar as imagens lado a lado -->
    <div id="div_comparison_images" style="display: none;">
        <div class="image-container">
            <h3>Original Image</h3>
            <img id="original_image" src="" alt="Original Image">
        </div>
        <div class="arrow">
            <span>&rarr;</span>
        </div>
        <div class="image-container">
            <h3>Restored Image</h3>
            <img id="result_image" src="" alt="Colorized Image">
        </div>
    </div>

    <!-- Botão de download -->
    <button id="btn_download">Download Colorized Image</button>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='result_control.js') }}"></script>
    <script src="{{ url_for('static', filename='upload_form_control.js') }}"></script>
</body>
</html>
